.vscode
.idea
.ipynb_checkpoints

datasets/nerf_llff_data/*/seg
datasets/nerf_llff_data/*/images_8
networks/unused
style_segs
raymarching/build
runs
pretrained
outputs
style_images
__pycache__

*.ipynb
*.sh
*.so
